*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculadora{
    width: 400px;
    height: 380px;
    border-radius: 1.5rem;
    box-shadow: 8px 8px 8px 10px rgb(204, 204, 204);
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 0.5rem;
}

.pantalla{
    grid-column: 1/5;
    background-color: rgb(224, 233, 240);
    width: 90%;
    height: 50px;
    text-align: right;
    margin: 20px auto;
    border-radius: 20px;
    font-size: 50px;
    padding: 10px 10px ;
    box-shadow: 8px 8px 8px 2px rgb(204, 204, 204);
    overflow-x: auto;
}

.pantalla::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

.button{
    width: 12vh;
    height: 40px;
    border: none;
    border-radius: 2rem;
    margin: 0 auto;
    cursor: pointer;
    color: black;
    box-shadow: 8px 8px 8px 2px rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

#igual{
    width: 180px;
    grid-column: span 2;
}

#cero{
    display: inline-block;
    position: relative;
    bottom: 50px;
    height: 90px;
    grid-row: span 2;
}



button:hover{
    transform: scale(1.1);
}

 